#tasks{
  margin-top: 3rem;

  /* Tarefas criadas e concluídas */

  & .info{
    display: flex;
    justify-content: center;
    gap: 4.8rem;
    margin-bottom: 1.5rem;

    & h2{
      margin-top: 0.2rem;
    }

    & .created-tasks p{
      background-color: #DDD2EF;
      color: var(--purple-dark);
      padding: 0.25rem 0.5rem;
      border-radius: 62.4375rem;
    }

    & .completed-tasks p{
      background-color: var(--green-light);
      color: var(--green-dark);
      padding: 0.25rem 0.5rem;
      border-radius: 62.4375rem;
    }
  }

  & .created-tasks, .completed-tasks {
    display: flex;
    gap: 0.5rem;
  }

  
}

/* Separador */

.separator{
  margin: 1.5rem auto;
  border: 0.5px solid var(--base-gray);
}

/* Caixa das listas bão cadastradas. */

.box-lists{
  text-align: center;

  & .list{
    margin-top: 4rem;

    & img{
      margin-bottom: 1rem;
    }

    & div p{
      font: var(--text-md);
    }
  }

}

/* CSS das tarefas */

.task-content{
  display: grid;
  justify-content: center;
  gap: 0.75rem;

  & div{
    gap: 0.5rem;
    width: 22.3rem;
    background-color: var(--base-gray);
    border: 1px solid #D1CBD7;
    border-radius: 0.5rem;
    padding: 0.75rem;
    
    
    position: relative;
    
    & [type="checkbox"]{
      all: unset;
      position: absolute;
      inset: 0;
    }
    
    & .checkbox-image{
      border: none;
      flex: 0 0 1.5rem;
      height: 1.5rem;
      background-image: url(../assets/img/checkbox.svg);
    }

    &:hover, &:focus-within{
      .checkbox-image{
        background-image: url(../assets/img/checkbox-hover.svg);
      }
    }

    &:has(:checked) .checkbox-image{
      background: url(../assets/img/checked.svg);
    }

    &:has(:checked):hover .checkbox-image{
      background: url(../assets/img/checked-hover.svg) no-repeat;
    }

    & label {
      width: 17.99rem;
    }

    &:has(:checked) label{
      text-decoration: line-through;
    }


    & .trash-icon{
      width: 1.2rem;
      height: 1.2rem;
      background: url(../assets/img/TrashRegular.svg);
    }

    & .trash-icon:hover{
      background-image: url(../assets/img/TrashFill.svg);
    }
  }
  
  & div:hover{
    background-color: #E5E2E9;
  }

  & div:has(:checked){
    background-color: #F0EDF2;
  }
  
  & div:has(:checked):hover{
    background-color: #E5E2E9;
  }
  

}

/* Responsividade */

@media (width >= 80em){

  .container{
    margin-inline: 19rem;
  }

  #tasks{
    margin-top: 5rem;

    & .info{
      gap: 37rem;

    }

    & .task-content div{
      width: 46rem;

    }

    .task-content div label{
      width: 42rem;
    }
  }
}